# Jekyll build output
_site/
.sass-cache/
.jekyll-cache/

# OS / Editor files
.DS_Store
Thumbs.db
*.swp
*~

# Ruby / Bundler
.bundle/
vendor/bundle/
Gemfile.lock

# Logs
*.log

# Node / Yarn / NPM if you use them
node_modules/
yarn-error.log
package-lock.json

# Backup files
*.bak
*.tmp
*.orig

# Vim / Emacs temp files
.*.swp
*~

private